@import 'imports/*'
@import '../../node_engine/*/ne-imports/style'

// Set the Breakpoints
bp = 960px

// Set the fonts later use // font-family font1

font1 = 'Asap', sans-serif

// The global styles

html
  font-size 1em
  color grey
  font-family font1
  word-wrap: break-word

body
  background url("/images/saaac-tile-big.jpg") fixed
  padding 0
  margin 0
  display block


/* <><><><><><><><><><><><><><><><><> */
/* <><><><><><><><><><><><><><><><><> */
/*
/* <><><><><><><><><><><><><><><><><> */
/* <><><><><><><><><><><><><><><><><> */

a
  color #00B7FF

a:hover
  color purple

.f1
    font-family font1

h1
  margin 0
  padding 0


/* <><><><><><><><><><><><><><><><><> */
/* <><><><><><><><><><><><><><><><><> */
/* Random  */
/* <><><><><><><><><><><><><><><><><> */
/* <><><><><><><><><><><><><><><><><> */

.input-text-fill
  width 98%

.dataListItem
  background #fff
  border-radius 10px
  lost-column: 1/3 3 10px
  text-align center
  margin-top 20px
  margin-bottom 20px
  zb2()

.dataListItem:hover
  transition box-shadow 0.5s
  zb5()

.dataListItemInner
  padding 20px
  min-height 80px

/* <><><><><><><><><><><><><><><><><> */
/* <><><><><><><><><><><><><><><><><> */
/* Header Section */
/* <><><><><><><><><><><><><><><><><> */
/* <><><><><><><><><><><><><><><><><> */

#section-header
  zb3()

#header-nav
  background red
  zb3()
  font-size 0.9em

#header-nav:hover
  zb5()
  opacity .9
  transition box-shadow 0.5s, opacity 5s

#header-topline
  background #fff
  zb1()
  a
    min-height 12px
    text-align center
    font-size 1em
    display block
    color grey
    text-decoration none
  p
    padding 10px
    background yellow
    margin 0

#header-topline:hover
  zb5()
  p
   //background red
   background #fff
   transition background 0.5s,box-shadow 0.5s

.topline-fixed
  position fixed
  top:0
  display block
  text-align center
  width 100%
  z-index 100
  zb5()

.topline-login
  font-size 0.5em !important
  text-align center
  color lightgray
  opacity 0.1
  text-decoration none

.topline-login:hover
  font-size 1.5em !important
  transition font-size 1s,background 1s,box-shadow 0.5s
  zb5()
  background yellow
  color #fff
  text-align center
  opacity 1
  text-decoration none

#header-nav-logo
  min-height 45px
  lost-column: 1/6 0 0
  background-image url("/images/header-nav-logo-border-right.png")
  background-repeat no-repeat
  background-position top right
  img
    margin-top 10px
    margin-bottom 10px
    width 100%
  img:hover
    opacity .8
  +below(750px)
    lost-column: 1/1 0 0
    lost-align: center
    min-height 90px
    background-image none
  +below(400px)
    lost-align: center
    lost-column: 1/1 0 0
    background-image none


#header-nav-links
  min-height 45px
  lost-column: 4/6 0 0
  background-image url("/images/header-links-background-tile.png")
  background-repeat repeat-x
  background-position top
  +below(965px)
    font-size 0.9em
  +below(820px)
    font-size 0.8em
  +below(750px)
    padding-top 3px
    lost-column: 1/1 0 0
  +below(500px)
    padding-top 5px
    padding-bottom 10px
    background-color grey
    background-image none
  ul
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;

  li
    margin-top 10px
    display: inline-block;

  a
    margin-left: 5px;
    margin-right: 5px;
    border-style: solid;
    border-color: transparent
    border-width: 1px;
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    display: block;

  a:hover
    border-color white
    background white
    color: #000;
    zb4()
    transition background 1s

  a:active
    background blue !important
    color: #000;

.header-nav-links-link
  +below(340px)
    lost-column: 1/1 0 0
    a
      background white
  a
    background transparent
    padding-left 10px
    padding-right 10px
    margin-left 10px
    margin-right 10px
    display block
    text-decoration: none
    color: #000;

#header-nav-contact
  padding-top 20px
  min-height 45px
  lost-column: 1/6 0 0
  background-image url("/images/header-links-background-tile.png")
  background-repeat repeat-x
  +below(750px)
    padding-top 0px
    lost-column: 1/1 0 0
    background-image none
  a
    display block
    text-decoration: none
    color: #000;

#header-nav-contact-link
  text-align center
  a
    margin-left 20px
    margin-right 20px
    padding-top 10px
    padding-bottom 10px
    background yellow
    border-style: groove
    border-color: transparent
    border-width: 1px;
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
    zb3()

#header-nav-contact-link:hover
  a
    zb5()
    background white
    transition background 1s

#header-hero-strip
  zb2()
  background-position left
  background-repeat repeat-x
  border-bottom solid 1px white
  border-top solid 1px white
  min-height 188px
  lost-align center
  text-align center

#header-hero-strip:hover
  background-position right
  zb5()
  transition box-shadow 0.5s, background-position 5s

#header-hero-title
  background grey
  border-radius 5px
  opacity 0.8
  margin 0
  padding 20px
  font-size 2em
  color #fff
  text-shadow 2px 2px #000;
  +below(450px)
    font-size 1.5em
  +below(300px)
    font-size 1em

/* <><><><><><><><><><><><><><><><><> */
/* <><><><><><><><><><><><><><><><><> */
/* Home Section */
/* <><><><><><><><><><><><><><><><><> */
/* <><><><><><><><><><><><><><><><><> */

.home-section-main
  lost-center: 1200px
  padding-top 50px
  padding-bottom 50px
  +below(820px)
    lost-center: 600px

.home-section-main-video
  lost-column:2/3 0
  min-height 360px
  +below(820px)
    lost-column:1/1 0

.home-section-main-video-inner
  background #000
  zb3()
  border-radius 10px
  padding-top 15px
  padding-bottom 40px
  padding-left 15px
  padding-right 15px
  margin-left 25px
  margin-right 25px
  +below(430px)
    margin-left 0
    margin-right 0

.home-section-main-facebook
  text-align center
  lost-column 1/3 0
  +below(820px)
    lost-column:1/1 0
    margin 40px auto 10px auto



/* <><><><><><><><><><><><><><><><><> */
/* <><><><><><><><><><><><><><><><><> */
/* Footer Section */
/* <><><><><><><><><><><><><><><><><> */
/* <><><><><><><><><><><><><><><><><> */

#section-footer
  background grey
  padding-top 50px

.footer-colleges
  min-height 20px
  lost-column: 1/4 0 0
  +below(777px)
    lost-column: 1/2 0 0
  +below(480px)
    margin-top 70px
    lost-column: 1/1 0 0

.footer-list
  margin-left 0px
  margin-top 15px
  a
    text-decoration none
    color white

.footer-faculties
  min-height 20px
  lost-column: 1/4 0 0
  +below(777px)
    lost-column: 1/2 0 0
  +below(480px)
    margin-top 70px
    lost-column: 1/1 0 0

.footer-contact
  min-height 20px
  lost-column: 2/4 0 0
  +below(777px)
    margin-top 70px
    lost-column: 1/1 0 0


.footer-heading
  text-transform uppercase
  margin-left 30px
  color #fff

.footer-contact-input
  border-radius 15px
  line-height 1.8em
  padding-left 10px
  padding-right 10px
  border: thin !important
  float right

.footer-contact-input:focus
  background yellow

.footer-contact-input:hover
  opacity 0.9
  zb5()
  transition opacity  0.5s, box-shadow 0.25s

.footer-contact-submit
  border: thin !important
  background yellow
  margin-top 20px
  border-radius 15px
  line-height 2.5em
  width: 40%;
  float right
  color black

.footer-contact-submit:hover
  background green
  color #fff
  zb5()
  transition background 0.5s, box-shadow 0.25s

.footer-contact-inner
  padding 40px

.footer-contact-label
  color white
  float right
  padding-right 30px

.footer-copyright
  color #fff
  min-height 100px
  lost-align: center


/* <><><><><><><><><><><><><><><><><> */
/* <><><><><><><><><><><><><><><><><> */
/* Application Page */
/* <><><><><><><><><><><><><><><><><> */
/* <><><><><><><><><><><><><><><><><> */

.application-container
  padding 20px
  background grey
  margin 10px
  input
    font-size 1.5em
  select
    font-size 1.5em
  option
    font-size 1.5em


.application-label
  color white

.application-input
  border-radius 15px
  line-height 1.8em
  border: thin !important

.application-input:focus
  background yellow

.application-input:hover
  opacity 0.9
  zb5()
  transition opacity  0.5s, box-shadow 0.25s


/* <><><><><><><><><><><><><><><><><> */
/* <><><><><><><><><><><><><><><><><> */
/* About Handler */
/* <><><><><><><><><><><><><><><><><> */
/* <><><><><><><><><><><><><><><><><> */

.about-vision-group
  zb3()
  background #fff
  padding 30px
  border-radius 16px
  margin-top 50px
  lost-center:80%
  h2
    background red
    border-radius 10px
    padding 20px
    color #fff

.about-vision-group:hover
  zb5()

.about-vision-item
  lost-column: 1/1 1 10px
  i
    color pink
  p
    zb3()
    color #fff
    margin-top 10px
    margin-bottom 10px
    background grey
    border-radius 10px
    padding 12px
    padding-left 15px
    padding-right 15px

.about-vision-item:hover
  p
    zb5()
    background yellow
    transition background 1s
    color grey

.pre-footer-space-about
  height 90px

/* <><><><><><><><><><><><><><><><><> */
/* <><><><><><><><><><><><><><><><><> */
/* Contact Handler */
/* <><><><><><><><><><><><><><><><><> */
/* <><><><><><><><><><><><><><><><><> */

.info-message
  margin 40px
  text-align center
  zb3()
  a
    border-radius 5px
    color: grey
    text-decoration none
    background yellow
    font-size 2em
    display block
    width 100%
    line-height 70px


/* <><><><><><><><><><><><><><><><><> */
/* <><><><><><><><><><><><><><><><><> */
/* Courses Handler */
/* <><><><><><><><><><><><><><><><><> */
/* <><><><><><><><><><><><><><><><><> */

.courses-list-item
  margin-top:  30px
  margin-bottom:  30px
  padding-bottom:  20px
  padding-top:  20px
  lost-column 1/2 2 30px
  background rgba(#fff, 0.8);
  border-radius 10px
  zb3()
  +below(645px)
    lost-column 1/1 1 30px

.courses-list-item:hover
  background grey
  color #fff
  transition background 2s, box-shadow 0.5s, color 1.5s
  zb5()

.courses-list-item-title
  text-transform uppercase
  text-align center
  font-size 2em

.courses-list-item-field
  padding-left: 20px
  padding-right:  20px
  padding-bottom:  10px
  padding-top:  10px

.courses-list-item-field:hover
  background red
  transition background 0.5s, color 0.5s, box-shadow 0.3s
  zb3()

.courses-list-item-field-title
  font-size 1.2em
  font-weight bold

.courses-list-item-apply
  lost-align: center
  min-height 60px
  text-align center
  a
    text-decoration none
    color #000
    display block
    line-height 40px
    background yellow
    border-radius 10px
    width 80%
    margin 10px auto
    zb2()
    span
      margin-left 10px
  a:hover
    zb5()
    background green
    color #fff
    transition box-shadow 0.25s, background 0.5s


/* <><><><><><><><><><><><><><><><><> */
/* <><><><><><><><><><><><><><><><><> */
/* accreditations */
/* <><><><><><><><><><><><><><><><><> */
/* <><><><><><><><><><><><><><><><><> */

#section-accreditations
  background #fff
  padding-top 70px
  padding-left 10%
  padding-right 10%
  +below(776px)
    padding-left 1%
    padding-right 1%
  +below(500px)
    padding-top 40px

#accreditations-list
  margin-top 70px
  margin-bottom 70px

/* <><><><><><><><><><><><><><><><><> */
/* <><><><><><><><><><><><><><><><><> */
/* acc Strip */
/* <><><><><><><><><><><><><><><><><> */
/* <><><><><><><><><><><><><><><><><> */

#section-accstrip
  background #fff url("/images/accstrip.jpg") repeat-x right
  padding-top 23px
  padding-bottom 23px

#section-accstrip:hover
  transition background-position 20s
  background-position left

/* <><><><><><><><><><><><><><><><><> */
/* <><><><><><><><><><><><><><><><><> */
/* Prof Course Link */
/* <><><><><><><><><><><><><><><><><> */
/* <><><><><><><><><><><><><><><><><> */

#section-profcourselink
  padding-top 70px
  padding-bottom 70px
  background red url("/images/tile-mountain.png") center fixed


/* <><><><><><><><><><><><><><><><><> */
/* <><><><><><><><><><><><><><><><><> */
/* Colleges Handler */
/* <><><><><><><><><><><><><><><><><> */
/* <><><><><><><><><><><><><><><><><> */

.colleges-list-item
  margin-top:  30px
  margin-bottom:  30px
  padding-bottom:  20px
  padding-top:  20px
  lost-column 1/2 2 30px
  background rgba(#fff, 0.8);
  border-radius 10px
  zb3()
  +below(645px)
    lost-column 1/1 1 30px

.colleges-list-item:hover
  background grey
  color #fff
  transition background 2s, box-shadow 0.5s, color 1.5s
  zb5()

.colleges-list-item-inner
  padding-left 30px
  padding-right 30px

/* <><><><><><><><><><><><><><><><><> */
/* <><><><><><><><><><><><><><><><><> */
/* Login */
/* <><><><><><><><><><><><><><><><><> */
/* <><><><><><><><><><><><><><><><><> */


.login-facebook
  margin 20px
  border-radius 17px
  background #49659f
  text-align center
  a
    padding 20px
    display block
    color #fff
    text-decoration none

.login-signup
  margin 20px
  border-radius 17px
  background red
  text-align center
  a
    padding 20px
    display block
    color #fff
    text-decoration none

.login-form
  margin 20px
  padding 20px
  border-radius 17px
  background black
  text-align center
  color #fff
  a
    display block
    color #fff
    text-decoration none

.prospectus-download-heading
  margin-top 50px
  text-align center

.prospectus-download-row
  lost-center: 100%

.prospectus-download
  lost-column: 1/3 3 20px
  text-align center
  lost-center: 400px
  a
    zb2()
    display block
    line-height 1.5em
    font-size 1.5em
    text-decoration none
    color grey
    margin-top 20px
    padding 10px
    border 1px grey solid
    border-radius 7px
    background yellow
  
.prospectus-download:hover
  a
    color #fff
    zb5()
    background red
    transition background 1s, box-shadow 0.5s

/* <><><><><><><><><><><><><><><><><> */
/* <><><><><><><><><><><><><><><><><> */
/* ne-data */
/* <><><><><><><><><><><><><><><><><> */
/* <><><><><><><><><><><><><><><><><> */

.ne-handler-field-applications
  font-size 1.2em
  margin-top 20px
  margin-bottom 20px
  padding-top 20px
  padding-bottom 20px
  padding-left 20px
  padding-right 20px
  background grey
  border-radius 10px
  color #fff
  zb3()

.ne-handler-field-applications:hover
  transition box-shadow 0.5s, background 0.5s
  background red
  zb5()

.applications-section
  margin-top 50px
  margin-bottom  50px

.application-save-btn
  zb3()
  text-align center
  padding-left 30px
  padding-right 30px
  padding-top 20px
  padding-bottom 20px
  margin-top 30px
  margin-bottom 30px
  background yellow
  font-size 1.8em

.application-save-btn:hover
  zb5()
  transition background 0.5s, box-shadow 0.5s
  background green
